  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, black, black, rgba(255, 255, 255, 0)), url(background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
.header {
        padding: 30px ;
        text-align: center;
        color:rgb(0, 224, 0);
        text-decoration:line-through;
        text-decoration-color: brown;
        font-size: 30px;

}
.paragraph {
        padding: 1px ;
        text-align: center;
        color:rgb(164, 255, 164);
        font-size: 25px;
}
#redpill {
    background-color: black; /*Red*/
    border: none;
    color: red;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid red;
    position: absolute;
    top: 25%;
    left: 20%;
  }
  #bluepill {
    background-color: black; /*Blue*/
    border: none;
    color: blue;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid blue;
    position: absolute;
    top: 25%;
    right: 20%;
  }
  #redpill:hover {
    background-color: white; /*Red*/
  }
  #bluepill:hover {
    background-color: white; /*Blue*/
  }
  .Result{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Congrats{
    color: rgb(0, 255, 0);
    position: absolute;
    top: 50%;
    text-align: center;
  }
  #Title_Result{
    color: white;
    position: absolute;
    font-size: 25pt;
    top: 60%;
  }
  @keyframes blink {
    0% {
      color: yellow;
    }
    50% {
      color: red;
    } 
    100% {
      color: white;
    }
  }
  #Title_Result{
    animation: blink 1200ms infinite;
  }